# Configuración de editores y herramientas
.vscode
.qodo
stylelint

# Ignorar dependencias de Composer
/vendor/
composer.phar
/composer.lock
.composer/
auth.json

# Archivos temporales o de caché
*.cache
*.log

# Archivos de configuración local
.env
.env.backup

# Ignorar dependencias de Node.js
node_modules
package.json
package-lock.json

# Ignorar herramientas de testing
cypress/
cypress.config.js
