RewriteEngine On

# No redirigir solicitudes para archivos existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las demás solicitudes a index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Documento de error personalizado para 403 Forbidden
ErrorDocument 403 /scr/views/not-found.php