<!-- // Posicionamento relativo y absoluto //
    <div style="position: relative; border: 1px solid black; width: 200px; height: 200px;">
    <p>Texto normal</p>
    <div style="position: absolute; top: 10px; left: 10px; background: red; width: 50px; height: 50px;"></div>
</div> -->

<div style="position: relative; z-index: 0; background: lightblue; width: 100px; height: 100px;">
    Caja detras
</div>
<div style="position: relative; z-index: 1; background: lightgreen; width: 100px; height: 100px; margin-top: -50px;">
    Caja delante
</div>