/* Contenedor de tareas */
.container-list-task {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    gap: 12px;
    margin-top: 20px;
    width: 80%; /* Aumentar el ancho para acomodar dos columnas */
    max-width: 1200px; /* Ajustar según necesidad */
    margin-bottom: 20px;
}

/* Header con título y botón */
.header-tasks {
    display: flex;
    align-items: center; /* Cambio a center para mejor alineación vertical */
    justify-content: flex-start; /* Alineación al inicio */
    width: 40%;
    max-width: 350px;
    gap: 15px; /* Espacio entre elementos */
}

/* Título de secciones */
.tittle-list-task {
    margin-top: 20px;
    padding-bottom: 8px;
    margin-bottom: 0;
    margin-right: 0;
}

.completed-tasks-title {
    margin-top: 30px;
    padding-bottom: 8px;
    font-size: 23px;
}

/* Botón de añadir tareas */
.add-task-container {
    display: inline;
}

.add-task-button {
    width: 50px;
    height: 40px;
    border-radius: 30%; /* Cambio a círculo perfecto */
    background: #026bf534;
    border: none;
    font-size: 24px; /* Aumentar tamaño de fuente */
    display: flex;
    align-items: stretch;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px; /* Espacio desde el título */
}

.add-task-button:hover {
    background: #4784d398;
}

.add-task-button .icon {
    font-weight: bold;
    margin: 0;
}

/* Notificaciones */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    animation: slide-in 0.5s ease-out;
    z-index: 1000;
}

.notification.success {
    background-color: #2ecc71;
}

.notification.error {
    background-color: #e74c3c;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    
    to {
        transform: translateX(0);
        opacity: 1;
    }
}