@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*Colors*/
/* No se han definido los colores para estos estilos */
/* :root {
   
} */

/* DESCRIPCION: Este archivo tiene los estilos para el login */

/* TODO: Refactorizar los estilos del login */

/*Colors*/

h2 {
   color: #a50029d5;
   text-align: center;
   margin-bottom: 20px;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

.background-image {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: fixed;
   top: -20%;
   left: 0;
   width: 100%;
   z-index: -1;
}


.login-container {
   position: absolute;
   background-color: rgba(198, 198, 198, 0.684);
   padding: 30px;
   border-radius: 15px;
   border: 2px solid #990127ba;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 400px;
}

.login-container h2 {
   text-align: center;
   margin-bottom: 20px;
}

.form-group {
   margin-bottom: 1.5rem;
   font-weight: bold;
   color: #9e0027d7;
}

.form-control {
   border-radius: 10px;
}

#username::placeholder {
   color: #9e0027d7;
   
}
#password::placeholder {
   color: #9e0027d7;
  
}

.btn-custom {
   border-radius: 10px;
   background-color: #990227ce;
   border: 2px solid #990227ce;
}
