/*Colors*/
/* TODO: COLORES MAS DESCRIPTIVOS */
:root {
    --background-color: white;
    --text-title-color: #053D4E;
    --text-color: #32363B;
    --menu-color: #707780;

    --text-selected-color: #355CC0;
    --background-selected: #EBF0FF;
    --background-hover: #F7F9FA;

    --border-color: #E6E9ED;
}


/*main*/
main{
    margin-top: 4rem;
    margin-left: 4rem;
    padding: 2rem;
    transition: margin-left 0.5s ease;
}
main.menu-toggle{
    margin-left: 18rem;
}