/* Sidebar */
.sidebar {
    /* Establece el margen superior, ancho, altura y posición fija del sidebar */
    margin-top: 4rem;
    width: 4rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    background-color: var(--background-color);
    transition: width 0.5s ease;
}
.sidebar.menu-toggle {
    /* Cambia el ancho del sidebar cuando se activa el toggle del menú */
    width: 18rem;
}
.sidebar a {
    /* Estilo de los enlaces dentro del sidebar */
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}
.sidebar a:hover {
    /* Estilo de los enlaces al pasar el cursor por encima */
    background-color: var(--background-hover);
}
.sidebar a.selected {
    /* Estilo de los enlaces seleccionados */
    color: var(--text-selected-color);
    background-color: var(--background-selected);
}
.sidebar a.search {
    /* Estilo del enlace de búsqueda */
    padding: 1rem 0.7rem;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0.2rem;
}
.sidebar img {
    /* Estilo de las imágenes dentro del sidebar */
    width: 1.6rem;
}
