@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*Colors*/
:root {
    --background-color: white;
    --text-title-color: #053D4E;
    --text-color: #32363B;
    --icon-color: #32363B;
    --icon-menu-color: #707780;
    --menu-color: #707780;

    --text-selected-color: #355CC0;
    --background-selected: #EBF0FF;
    --background-hover: #F7F9FA;

    --border-color: #E6E9ED;
}
/*Global styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
/*Body*/
body{
    width: 100%;
    height: 100vh;
}


