<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario Uniguajira</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    
</head>
<body>
    
    <header>
        <div class="left">
            <div class="menu-container">
                <div class="menu" id="menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="brand">
                <img src="/assets/icons/udemy.svg" alt="icon-udemy" class="logo">
                <span class="name">apex</span>
            </div>
        </div>
        <div class="right">
            <a href="#" class="icons-header">
                <img src="/assets/icons/chat.svg" alt="chat">
            </a>
            <a href="#" class="icons-header">
                <img src="/assets/icons/question.svg" alt="question">
            </a>
            <a href="#" class="icons-header">
                <img src="/assets/icons/notification.svg" alt="notification">
            </a>
            <img src="/assets/images/cristianosiuuu.jpg" alt="img-user" class="user">
        </div>
    </header>
    <div class="sidebar" id="sidebar">
        <nav>
            <ul>
                <li>
                    <a href="#" class="search">
                        <img src="/assets/icons/search.svg" alt="">
                        <span>Buscar</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="selected">
                        <img src="/assets/icons/home.svg" alt="">
                        <span>Página de Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/icons/file.svg" alt="">
                        <span>Productos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/icons/megaphone.svg" alt="">
                        <span>Marketing</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/icons/money.svg" alt="">
                        <span>Ventas</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/icons/wallet.svg" alt="">
                        <span>Cartera</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/icons/chart.svg" alt="">
                        <span>Informes</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/icons/tools.svg" alt="">
                        <span>Herramientas</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <main id="main">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, quo sapiente illum reprehenderit id, consequatur commodi assumenda fugiat alias maxime et pariatur ea itaque delectus temporibus quam perspiciatis. Reiciendis, ratione.</p>
        
    </main>

    <script src="/assets/js/scripts.js"></script>
</body>
</html>