<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- Enlace al archivo CSS de Bootstrap desde el CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/login.css" />

   
</head>

<body>
    <!-- imagen de fondo -->
    <img class="background-image" src="assets\images\fondo-auditorio-uniguajira.jpg"></img>
    <!-- Contenedor del formulario -->
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form action="/api/login" method="POST">
            <!-- Campo de Usuario -->
            <div class="form-group">
                <label for="username">usuario</label>
                <input name="username" type="text" class="form-control" id="username" placeholder="Ingresa tu usuario" required>
            </div>

            <!-- Campo de Contraseña -->
            <div class="form-group">
                <label for="password">contraseña</label>
                <input name="password"  type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required>
            </div>

            <!-- Botón de Ingreso -->
            <button type="submit" class="btn btn-primary btn-block btn-custom">Ingresar</button>
        </form>
    </div>
    
    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>