<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="assets/css/login.css" />
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="wrapper">
            <!-- solisitud http -->
            <form action="/api/login" method="POST">

                <h1>iniciar sesion</h1>
                <div class="input-box">
                    <input name="username" type="text" placeholder="usuario" required />
                    <i class="bx bxs-user-circle"></i>
                </div>
                <div class="input-box">
                    <input
                        name="password"
                        type="password"
                        placeholder="contraseña"
                        required
                    />
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <!-- <div class="remember-forgot">
                    <label>¿olvido contraseña?</label>
                    <a href="#"> ¿recuperar contraseña? </a>
                </div> -->
                <div class="space-1">.</div>
                <button type="submit" class="btn">ingreso</button>

            </form>

            <!-- Circulos y logo (se movieron fuera del formulario) -->
            <!-- <label for="" class="brand">
                <a href="">
                    <img src="assets/images/logoUniguajira.png" />
                </a>
            </label>

            <div class="space-2">.</div>

            <div class="celula celula1"></div>
            <div class="celula celula2"></div> -->

        </div>
    </body>
</html>
