<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="assets/css/login.css" />
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="wrapper">
            <!-- Formulario de inicio de sesión -->
            <form action="">
                <h1>iniciar sesion</h1>
                <div class="input-box">  <!-- Usuario -->
                    <label for="usuario">
                        Usuario
                        <input
                            type="text"
                            id="usuario"
                            name="usuario"
                            placeholder="usuario"
                            required
                        />
                    </label>
                    <i class="bx bxs-user-circle"></i>
                </div>
                <div class="input-box">  <!-- Contraseña -->
                    <label for="contraseña">
                        Contraseña
                        <input
                            type="password"
                            id="contraseña"
                            name="contraseña"
                            placeholder="contraseña"
                            required
                        />
                    </label>
                    <i class="bx bxs-lock-alt"></i>
                </div>

                <div class="remember-forgot">
                    <label>¿olvido contraseña?</label>
                    <a href="#"> ¿recuperar contraseña? </a>
                </div>
                
                <div class="space-1">.</div>
                <button type="submit" class="btn">ingreso</button>
            </form>
        </div>

        <!-- Círculos y logo (movidos fuera del formulario) -->
        <!-- TODO: Mejorar los estilos para el logo -->
        <!-- <label class="brand">
            <a href="">
                <img src="assets/images/logoUniguajira.png" />
            </a>
        </label> -->

        <!-- <div class="space-2">.</div>

        <div class="celula celula1"></div>
        <div class="celula celula2"></div> -->
    </body>
</html>
