<div class="sidebar" id="sidebar">
    <nav>
        <ul>
            <li>
                <a href="#" class="selected">
                    <img src="assets/icons/home.svg" alt="">
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/icons/bienes.svg" alt="">
                    <span>Bienes</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/icons/inventario.svg" alt="">
                    <span>Inventarios</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/icons/reportes.svg" alt="">
                    <span>Reportes</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/icons/usuarios.svg" alt="">
                    <span>Usuarios</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/icons/historial.svg" alt="">
                    <span>Historial</span>
                </a>
            </li>
        </ul>
    </nav>
</div>